.Button{
    /* display: block; */
    font-size: 1em;
    background: none;
    font-weight: 400;
    color: white;
    border: none;
    text-transform: lowercase;
    font-variant: small-caps;
    outline: none;
    cursor: pointer;
    padding: .5em 1.25em;
    border-radius: .25em;
    transition: border-color color .15s ease-in-out
  }
   
  .Button.Flat:hover{
    color: rgb(138, 90, 67);
  }

  .Button.Raised{
    border: 1px solid white;
  }
  
  .Button.Raised:hover{
    color: rgb(138, 90, 67);
    border-color: rgb(138, 90, 67);
  }
 