.Button{
    /* display: block; */
    font-size: 1em;
    background: none;
    font-weight: 400;
    color: white;
    border: none;
    text-transform: lowercase;
    font-variant: small-caps;
    outline: none;
    cursor: pointer;
    padding: .5em 1.25em;
    border-radius: .25em;
    transition: border-color color .15s ease-in-out
  }
   
  .Button.Flat:hover{
    /* color: rgb(255, 255, 255); */
  }

  .Button.Raised{
    border: 1px solid white;
  }

  .Button:disabled{
    color: rgb(68, 68, 68) !important;
    border-color: rgb(88, 88, 88) !important;
    cursor: default;
  }
  
  .Button.Raised:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
 