.Link{
    text-decoration: none;
    color: black;
    font-size: 2.25em;
    padding: 0;
    color: rgb(82, 92, 100);
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 300;
    transition: color 0.1s ease-in-out;
}

.Link:hover{
    color: rgb(138, 90, 67);
}