.Window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(19, 19, 19);
    padding: 2.5em;
    border-radius: .25em;
    /* border: 1em white outset */
}